body {
	color:#000000;
	font-weight: bold;
	/*
		background-image:url(brcm_files/Diamond-plate-01.gif);
		background: url(brcm_files/blue-ridge-408014.jpg);
		background-size:200%;
	*/
	background-image: url(../brcm_files/mountains-sample.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	
	font-size:.9em;
}

a:link, a:visited {color:black}
a:hover {color:red}
.navigation li:hover {color:red}

.wrapper {
	text-align: center;
	margin:auto;
	position:relative;
	padding: 1em;
	background: none repeat scroll 0% 0% rgba(242, 242, 242, 0.4);
	border: 2px solid gray;
	border-radius: 25px;
	
	max-width:75%;
	min-width:30em;
	overflow:hidden;
}

.header {
	min-width:30em;
	max-width:30em;
	line-height: 0em;
	margin:0em auto;
	position:relative;
}

.header .upper div {
	display:inline-block;
}


.logo-brcm {
	background-color:#111A83;
	position:relative;
	min-width:30em;
	max-width:100%;
	height:10em;
	z-index:2;
	
	border-radius:2em;
}


.logo-brcm p{
		position: absolute;
		font-weight: bold;
		color: rgba(153, 210, 237, 0.9);
		font-size: 1.1em;
		font-family: sans-serif;
		font-style: italic;
		width:100%;
}

.logo-brcm .name {
	font-size:2em;
	top:1em;
	margin: 0em;
}       

.logo-brcm .address {
	top: 3.5em;        
	color: #FFF;
}

.logo-brcm .catchphrase {
	bottom: 1em;
	color: #F00;
}

.logo-mustang {
    height: 8em;
    width: 10em;

	  position: absolute;
		top:1em;
	
		z-index: 1;	
	
    border-radius: 5em;
    background: url("../brcm_files/image006.gif") no-repeat center center / 75% auto rgba(128, 128, 128, 0);
}

.logo-mustang.left {
	left:-10em;
	transform:scaleX(1)
}


.logo-mustang.right {
	right:-10em;
}

.logo-mustang:hover {
	transform:scaleX(-1);
}



.phone {
	font-size:2em;
	font-weight:bold;
	padding: .75em;
	padding: 1.25em;
	padding-bottom: 1em;
}

.navigation ul {
	padding:0em;
}

.navigation ul li {
	display:inline-block;
	padding:0em 1em;
}

.content .nav-section {
	display:none;
	padding:0em 2em;
}

.content .nav-section.active {
	display:block;
}

.about {
	text-align:center;
}

.gallery img {
	position:relative;
	float:left;
	height:25em;
}

.gallery {
	position:relative;
	height:20em;
	max-height:25em;
	margin:0em;
	padding:0em;
}

.map-text {
	padding-top:1em;
}

.map-image {float:left; position:relative; height:22em; width:25em;}

.map img {max-height:20em; left:0em;position:absolute;}

.map .click-text {position:absolute; bottom:2em; left:0em;width:23em; z-index:2;
	background: none repeat scroll 0% 0% rgba(242, 242, 242, 0.4);
}
