body {
	font-weight: bold;

	background-image: url(../brcm_files/mountains-sample.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	background-color: #13218C;
	
	font-size:.9em;
}

a:link, a:visited {color:black}
a:hover {color:red}
.navigation li:hover {color:red}

.wrapper {
	text-align: center;
	margin:auto;
	position:relative;
	padding: 1em 2em;
	background: none repeat scroll 0% 0% rgba(242, 242, 242, 0.2);
	border: 2px solid gray;
	border-radius: 25px;
	
	max-width:75%;
	min-width:30em;
	overflow:hidden;
}

.header {
	min-width:30em;
	max-width:30em;
	line-height: 1em;
	margin:0em auto;
	position:relative;
}

.header .upper div {
	display:inline-block;
}


.logo-brcm {
	background-color:#111A83;
	position:relative;
	min-width:30em;
	max-width:100%;
	height:10em;
	z-index:2;
	
	border-radius:2em;
}


.logo-brcm p{
		position: absolute;
		font-weight: bold;
		color: rgba(153, 210, 237, 0.9);
		font-size: 1.1em;
		font-family: sans-serif;
		font-style: italic;
		width:100%;
}

.logo-brcm .name {
	font-size:2em;
	top:1em;
	margin: 0em;
}       

.logo-brcm .address {
	top: 3.5em;        
	color: #FFF;
}

.logo-brcm .catchphrase {
    bottom: .5em;
    color: #F00;
    font-size: 1.15em;
}

.logo-mustang {
    height: 8em;
    width: 10em;

	  position: absolute;
		top:1em;
	
		z-index: 1;	
	
    border-radius: 5em;
    background: url("../brcm_files/image006.gif") no-repeat center center / 75% auto rgba(128, 128, 128, 0);
}

.logo-mustang.left {
	left:-10em;
	transform:scaleX(1)
}


.logo-mustang.right {
	right:-10em;
}

.logo-mustang:hover {
	transform:scaleX(-1);
}

.phone {
	font-size:1.75em;
	font-weight:bold;
	padding: 1.25em;
	padding-bottom: 1em;
}

.navigation ul {
	padding:0em;
}

.navigation ul li {
	display:inline-block;
	padding:0em 1em;
}

.content .nav-section {
	display:none;
	width:100%;
	position:relative;
}

.content .nav-section.active {
	display:block;
}

.home p {
	margin:0em;
}

.scrapyard {
	border-radius:1em;
	width:100%;
	margin:1em 0em;
}

.about {
	text-align:center;
}

.gallery .text {
	font-size: 1.1em;
}

.gallery img {
	position:relative;	
	margin: .5em;
	max-width:20%;
	max-height:10em;
	border-radius:5px;
}


.gallery .fancy {
	position:relative;
	max-height:35em;
	overflow-y:auto;
}

.map {
	height: 21em;
}

.map-text {
	position:absolute;
	top:5em;
	left:50%;
}

.map-image {
    position: absolute;
    height: 18em;
    width: 20em;
    right: 50%;
    border-radius: 5px;
    margin: 2em;
	margin-right:5em;
	margin-top:0em;
}

.map img {
	width:100%;
	height:100%;
	left:0em;
	position:absolute;
}

.map .click-text {
	position:absolute; 
	bottom:1em; 
	left:0em; 
	z-index:2;
	width:100%;
	background: none repeat scroll 0% 0% rgba(242, 242, 242, 0.4);
}


.disclaimer {
	clear: both;
}