body {
	color:#000000;
	font-weight: bold;
	/*
		background-image:url(brcm_files/Diamond-plate-01.gif);
		background: url(brcm_files/blue-ridge-408014.jpg);
		background-size:200%;
	*/
	background-image: url(../brcm_files/mountains-sample.jpg);
	background-size: cover;
	background-repeat:no-repeat;
}

a:link, a:visited {color:black}
a:hover {color:red}

div.wrapper {
	text-align: center;
	width:75%;
	margin:auto;
}

.content {
	position:relative;
	top:3em;
	padding: 1em;
	background: none repeat scroll 0% 0% rgba(242, 242, 242, 0.4);
	border: 2px solid gray;
	border-radius: 25px;
}


.header {
	min-width:0em;
	line-height: 0em;
	margin-left:-1.5em;
}

.header .upper {
}

.header .upper div {
	display:inline-block;
	max-width:60%;
	position:relative;
}


.logo-brcm {
	background-color:#111A83;
	width:50em;
	height:10em;
}


.logo-brcm p{
		position: absolute;
		font-weight: bold;
		color: rgba(153, 210, 237, 0.9);
		font-size: 1.1em;
		font-family: sans-serif;
		font-style: italic;
		width:100%;
}

.logo-brcm .name {
	font-size:2em;
	top:1em;
	margin: 0em;
	
}       

.logo-brcm .address {
	top: 3.5em;        
	color: #FFF;
}

.logo-brcm .catchphrase {
	bottom: 1em;
	color: #F00;
}

.logo-mustang {
	background:url('../brcm_files/image006.gif');
	background-repeat: no-repeat;
	background-position:center center;
	height:10em;
	width:10em;
}

table {
	margin:auto;border-width:0; 
}

.phone {
	font-size:2em;
	font-weight:bold;
	padding: .75em;
	padding: 1.25em;
	padding-bottom: 1em;
}
